.medical-facility-container {
    height: 300px;

    

    .medical-facility-content {
        margin: 0 90px;

        .medical-facility-header {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            .title-medical-facility {
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .img-customize {
            height: auto;
           .bg-image {
            background-position: center;
            background-size: cover;
            height: 190px;
            width: 300px;
            margin-bottom: 5px;
           }
           .clinic-name {
            width: 300px;
           }

        }
        
    }
    
}